$c-white-500: #f0f0f0;
$c-purple-500: #350b2c;
$c-purple-600: #2e0328;
$c-orange-500: #ff6b35;
$c-yellow-600: #ff9c19;
$c-yellow-500: #ffdd2d;

$c-text: $c-white-500;
$c-primary: $c-purple-500;
$c-secondary: $c-orange-500;

$html-font-size: 16px;
